<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="row my-3">
        <div class="col-6">
            <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
        </div>
    <div class="col-6">
        <div class="input-group">
            <input type="text" id="search_kw" placeholder="찾고싶은 게시물, 아이디, 댓글을 입력해 주세요" class="form-control" th:value="${kw}" >
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
    </div>
    </div>
<table class="table">
    <thead class="table-dark">
    <tr class="text-center">
        <th>번호</th>
        <th style="width:50%">제목</th>
        <th>아이디</th>
        <th>조회수</th>
        <th>추천수</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="question, loop : ${paging}">
        <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
        <td class="text-start">
            <!-- Check if the post is secret and not the author -->
            <span th:if="${question.isSecret and !#authorization.expression('isAuthenticated()')}">
            비밀글 입니다.
            </span>
            <!-- Display clickable title for non-secret posts or if the user is the author -->
            <span th:if="${!question.isSecret or (question.isSecret and #authorization.expression('isAuthenticated()') and question.author.username == #authentication.principal.username)}">
            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
            </span>
            <!-- Display non-clickable 'Secret post' for secret posts for other logged-in users who are not the author -->
            <span th:if="${question.isSecret and #authorization.expression('isAuthenticated()') and question.author.username != #authentication.principal.username}">
            비밀글 입니다.
            </span>
            <span class="text-danger small ms-2"
                  th:if="${#lists.size(question.answerList) > 0}"
                  th:text="${#lists.size(question.answerList)}">
                    </span>
            <span th:if="${question.isSecret}">🔒</span>
        </td>
        <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
        <td th:text="${question.view_count}"></td>
        <td th:text="${#lists.size(question.voter)}"></td>
        <td th:text="${#temporals.format(question.createDate, 'yyyy년MM월dd일 HH시mm분')}"></td>
    </tr>
    </tbody>
</table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(
            (paging.number+1) <= 4 ? 1 : ((paging.number+1) > (paging.totalPages - 3) ? paging.totalPages - 6 : (paging.number+1) - 3),
            (paging.totalPages < 7) ? paging.totalPages :
            ((paging.number+1) <= 4 ? 7 : ((paging.number+1) + 3 > paging.totalPages ? paging.totalPages : (paging.number+1) + 3)))}"
                th:classappend="${page == paging.number+1} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page-1}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/question/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
<div>
    <form th:action="@{/question/rank}" method="get" id="search_rank">
        <button type="submit">검색어 순위 보기</button>
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });

    document.querySelectorAll('.secret-content').forEach(element => {
        element.addEventListener('click', function(event) {
            alert('이 글은 비밀글입니다.');
            event.preventDefault();  // 클릭 이벤트 차단
        });
    });
</script>
</html>